{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Produit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ produit.libelle }}</td>
            </tr>
            <tr>
                <th>Desccourt</th>
                <td>{{ produit.descCourt }}</td>
            </tr>
            <tr>
                <th>Desclong</th>
                <td>{{ produit.descLong|raw }}</td>
            </tr>
            <tr>
                <th>Imageprinc</th>
                <td>{{ produit.imagePrinc }}</td>
            </tr>
            <tr>
                <th>Image1</th>
                <td>{{ produit.image1 }}</td>
            </tr>
            <tr>
                <th>Image2</th>
                <td>{{ produit.image2 }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>availability</th>
                <td>{%  if (produit.inStock ==1) %}oui{% else %} non{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_produit_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_produit_edit', { 'id': produit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
